<div class="card">
  <div class="card-content">
    <h5>Current Employees</h5>

    <% if @current_employees.empty? %>
      <p>There are no employees assigned at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th>Shifts Worked at <%= @store.name%></th>
        </thead>
        <% @current_employees.each do |employee| %>
          <tr %>
            <td><%= link_to employee.name, employee_path(employee) %></td>
            <td>
               <%= employee.shifts.for_store(@store).to_a.size%>
             </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
    <% end %>
  </div>
</div>
