<div class="card">
  <div class="card-content">
    <h5> Active Stores Owned by AMC</h5>

    <% if @active_stores.empty? %>
      <p>There are no active stores at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th>Payroll</th>
          <th class="align_center">Assignmnets</th>
          <th>Employees Under 18</th>

        </thead>
        <% @active_stores.each do |store| %>
          <tr>
            <td><%= link_to store.name, store_path(store) %></td>
            <td class="align_center">
              <%= link_to store_payroll_path(store) do %>
                <i class="material-icons">assessment</i>
              <% end %>
            </td>
            <td class="align_center">
              <%= store.assignments.current.count%>
            </td>
            <td><%= store.employees.younger_than_18.count%></td>

          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
    <% end %>
  </div>
</div>
