<%= render partial: 'shift_lists', locals: { state: 'upcoming',
                                                  shifts: @upcoming_shifts } %>
  <div class="form-actions", align = 'center'>
    <% if current_user.role == 'employee'%>
      <% if not @shift.nil? and @shift.status == 'pending'%>
        <%= link_to clock_in_path(shift_id: @shift.id), method: 'patch', class: 'waves-effect waves-light btn' do %>
          &nbsp;<strong>Clock in</strong>
        <% end %>
        &nbsp;&nbsp;
      <% end %>

      <% if not @shift.nil? and @shift.status == 'started'%>
        <%= link_to clock_out_path(shift_id: @shift.id), method: 'patch', class: 'waves-effect waves-light btn' do %>
            &nbsp;Clock Out
        <% end %>
        &nbsp;&nbsp;
      <% end %>
    <% end %>
  </div>
