<div class="row">
  <div class="small-7 columns">
    <h2><em>About the A &amp; M Creamery</em></h2>

    <p>
    	In 1997, when founders Mark and Alex were just little tykes, they had
      the brilliant idea of starting a joint ice cream chain where they could
      share their favorite ice creams with everyone. Not only did this build their
      brotherhood to a whole another level, it allowed them to chase their entrepreneurial dreams.
      Since then, they have been serving up cones and smiles to thousands of yinzers and they
      do not plan on stopping anytime soon.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
