<h4>Dashboard</h4>
<%= render partial: 'partials/dashboard_structure' , locals: {primary: 'upcoming_shifts',
                                                         secondary: nil,
                                                         sidebar: 'active_stores'} %>
