<div id="tabbed">
  <tabs>

    <tab name="fucker" v-bind:selected="true">
      <%= render partial: 'shift_lists', locals: { state: 'upcoming', shifts: @upcoming_shifts } %>
    </tab>
    <tab name="completed shifts" >
      nfadf

    </tab>
    <tab name="past shifts" >


    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
